.container {
  width: 21.25rem;
  height: 24.563rem;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border-radius: 8px;

  padding-left: 24px;
  padding-top: 24px;
  div {
    display: flex;

    background: rgba(169, 43, 237, 0.37);
    border-radius: 8px;

    width: 70px;
    height: 70px;

    align-items: center;
    justify-content: center;
  }

  h2 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 400;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: var(--heading);

    max-width: 13.5rem;
  }
}